{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <p>
        <strong>Total results</strong>: {{ total|num_format }}
        {% if total > max_results %}
            <em>(showing {{ max_results|num_format }})</em>
        {% endif %}
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wiki</th>
                <th>Title</th>
                <th>Source text</th>
            </tr>
        </thead>
        {% for hit in hits %}
            <tr>
                <td>{{ hit.wiki }}</td>
                <td>
                    <a target="_blank" href="{{ hit.url }}">{{ hit.title }}</a>
                </td>
                <td>{{ hit.source_text|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
