{% extends 'base.html.twig' %}

{% block body %}
    <p>Total results: {{ total|num_format }}</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wiki</th>
                <th>Title</th>
                <th>Text</th>
                <th>Source text</th>
            </tr>
        </thead>
        {% for hit in hits %}
            <tr>
                <td>{{ hit.wiki }}</td>
                <td>{{ hit.title }}</td>
                <td>{{ hit.text|raw }}</td>
                <td>{{ hit.source_text|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
