{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <p>
        <strong>{{ msg('total-results', [total]) }}</strong>: {{ total|num_format }}
        {% if total > max_results %}
            <em>({{ msg('showing-n', [max_results|num_format, max_results]) }})</em>
        {% endif %}
        <span class="export-links">
            {{ msg('export-as') }}
            {% for type in ['wikitext', 'csv', 'tsv', 'json', 'markdown'] %}
                <a target="_blank" class="download-link download-{{ type|lower }}" href="{{ path('home', app.request.query.all|merge({format: type})) }}">{{ msg_if_exists(type) }}</a>
                {% if not(loop.last) %}
                    &middot;
                {% endif %}
            {% endfor %}
        </span>
    </p>
    <p>
        {{ msg('executed', [request_time()|num_format(3), request_time()]) }}
        {% if from_cache %}
            <em>(<a href="{{ app.request.uri }}&purge=1">{{ msg('purge-cache')|lower }}</a>)</em>
        {% endif %}
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ msg('wiki') }}</th>
                <th>{{ msg('page-title') }}</th>
                <th>{{ msg('excerpt') }}</th>
            </tr>
        </thead>
        {% for hit in hits %}
            <tr>
                <td>{{ hit.wiki }}</td>
                <td>
                    <a target="_blank" href="{{ hit.url }}">{{ bdi(hit.title) }}</a>
                </td>
                <td>{{ hit.source_text|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
